<CMConfig>
	<Config name="com.topcoder.gui.diagramviewer.DiagramViewer">

		<Property name="object_factory_namespace">
			<Value>com.topcoder.gui.diagramviewer.ObjectFactory</Value>
		</Property>

		<Property name="max_open_tabs">
			<Value>5</Value>
		</Property>


		<Property name="backgound_grid_visibility">
			<Value>true</Value>
		</Property>

		<Property name="tab_title_displayed_in_full_version">
			<Value>false</Value>
		</Property>

		<Property name="tab_shortened_title_max_length">
			<Value>10</Value>
		</Property>

		<Property name="diagram_view_background_color">
		<Value>FE01A9</Value>
		</Property>

		<Property name="grid_renderer">
			<Value>gridRenderer</Value>
		</Property>

		<Property name="diagram_view_gap">
			<Value>50</Value>
		</Property>

		<Property name="diagram_view_cache">
			<Value>viewCache</Value>
		</Property>

		<Property name="zoom_rotate_increment">
			<Value>5</Value>
		</Property>

		<Property name="zoom_in_action_namespace">
			<Value>com.topcoder.gui.diagramviewer.ZoomInAction</Value>
		</Property>

		<Property name="zoom_out_action_namespace">
			<Value>com.topcoder.gui.diagramviewer.ZoomOutAction</Value>
		</Property>

		<Property name="close_tab_action_namespace">
			<Value>com.topcoder.gui.diagramviewer.CloseTabAction</Value>
		</Property>
	</Config>


<!-- Configure the Zoom In Button -->
	<Config name="com.topcoder.gui.diagramviewer.ZoomInAction">
		<Property name="name">
			<Value>zoom in</Value>
		</Property>

		<Property name="icon">
			<Value>test_files/zoomin.icon</Value>
		</Property>

		<Property name="increment">
			<Value>10.0</Value>
		</Property>
	</Config>

<!-- Configure the Zoom Out Button -->
	<Config name="com.topcoder.gui.diagramviewer.ZoomOutAction">
		<Property name="name">
			<Value>zoom out</Value>
		</Property>

		<Property name="icon">
			<Value>test_files/zoomout.icon</Value>
		</Property>
		<Property name="increment">
			<Value>-10.0</Value>
		</Property>
	</Config>

<!-- Configure the Close Tab Button -->
	<Config name="com.topcoder.gui.diagramviewer.CloseTabAction">
	    <Property name="name">
			<Value>close tab</Value>
		</Property>

		<Property name="icon">
			<Value>test_files/close.icon</Value>
		</Property>
	</Config>



<!-- Configure the ObjectFactory -->
	<Config name="com.topcoder.gui.diagramviewer.ObjectFactory">
		<Property name="viewCache">
			<Property name="type">
			<Value>com.topcoder.gui.diagramviewer.MockCache</Value>
			</Property>
		</Property>

		<Property name="gridRenderer">
			<Property name="type">
			<Value>com.topcoder.gui.diagramviewer.MockGridRenderer</Value>
			</Property>
		</Property>
	</Config>
</CMConfig>
