<?xml version="1.0"?>
<CMConfig>
        <Config name="com.topcoder.gui.trees.document.impl">
                <Property name="config_manager_specification_factory_namespace">
                        <Value>com.topcoder.gui.trees.document.impl.objectfactory</Value>
                </Property>
                <Property name="tree_cell_renderer">
                        <Value>cell_render</Value>
                </Property>
                <Property name="view_types">
                        <Property name="DIAGRAM_CENTRIC">
                                <Property name="view_class">
                                        <Value>com.topcoder.gui.trees.document.impl.DiagramCentricDocumentTreeView</Value>
                                </Property>
                                <Property name="view_text">
                                        <Value>Diagram-Centric</Value>
                                </Property>
                        </Property>
                        <Property name="CLASS_CENTRIC">
                                <Property name="view_class">
                                        <Value>com.topcoder.gui.trees.document.impl.ClassCentricDocumentTreeView</Value>
                                </Property>
                                <Property name="view_text">
                                        <Value>Class-Centric</Value>
                                </Property>
                        </Property>
                </Property>
                <Property name="icons">
                        <Property name="com.topcoder.uml.model.core.Namespace">
                                <Value>test_files/icons/namespace.gif</Value>
                        </Property>
                        <Property name="com.topcoder.uml.model.core.Classifier">
                                <Value>test_files/icons/classifier.gif</Value>
                        </Property>
                </Property>
                <Property name="activity_graphs_category_name">
                        <Value>Activity Graphs</Value>
                </Property>
                <Property name="collaborations_category_name">
                        <Value>Collaborations</Value>
                </Property>
                <Property name="diagram_categories">
                        <Property name="Use Case">
                                <Value>Use Case Diagram</Value>
                        </Property>
                        <Property name="Class">
                                <Value>Class Diagram</Value>
                        </Property>
                </Property>
        </Config>


        <Config name="com.topcoder.gui.trees.document.impl_new">
                <Property name="config_manager_specification_factory_namespace">
                        <Value>com.topcoder.gui.trees.document.impl.objectfactory</Value>
                </Property>
                <Property name="tree_cell_renderer">
                        <Value>cell_render</Value>
                </Property>
                <Property name="default_tabs">
                    <Value>com.topcoder.gui.trees.document.impl.DiagramCentricDocumentTreeView</Value>
                    <Value>com.topcoder.gui.trees.document.impl.ClassCentricDocumentTreeView</Value>
                </Property>
                <Property name="icons">
                        <Property name="com.topcoder.uml.model.core.Namespace">
                                <Value>test_files/icons/namespace.gif</Value>
                        </Property>
                        <Property name="com.topcoder.uml.model.core.Classifier">
                                <Value>test_files/icons/classifier.gif</Value>
                        </Property>
                </Property>
                <Property name="activity_graphs_category_name">
                        <Value>Activity Graphs</Value>
                </Property>
                <Property name="collaborations_category_name">
                        <Value>Collaborations</Value>
                </Property>
                <Property name="diagram_categories">
                        <Property name="Use Case">
                                <Value>Use Case Diagram</Value>
                        </Property>
                        <Property name="Class">
                                <Value>Class Diagram</Value>
                        </Property>
                </Property>
        </Config>


        <Config name="com.topcoder.gui.trees.document.impl.objectfactory">
                <Property name="cell_render">
                        <Property name="type">
                                <Value>com.topcoder.gui.trees.document.impl.IconTreeCellRenderer</Value>
                        </Property>
                        <Property name="params">
                                <Property name="param1">
                                        <Property name="type">
                                                <Value>java.lang.String</Value>
                                        </Property>
                                        <Property name="value">
                                                <Value>com.topcoder.gui.trees.document.impl</Value>
                                        </Property>
                                </Property>
                        </Property>
                </Property>
        </Config>
</CMConfig>